@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,600;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    font-family: "Source Sans Pro", 'Verdana, Geneva, Tahoma, sans-serif';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* HEADER */

#checkbox-menu{
    display: none;
}

header {
    background-color:#618685;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:houver{
    background-color: rgba(255,255,255,0.15);
}

header .container img{
    height: 90px;
}


/*MAIN*/

main {
    margin-bottom: 100px;
}

main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

h1 {
    color: black;
    font-size: 70px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

h2{
    color: black;
    font-size: 60px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    
}

h3 {
    color: rgb(131,131,131);
    font-size: 25px;
    line-height: 28px;
    margin: 10px 0;
    text-align: justify;
}

h4 {
    color: black;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

form {
    margin-top: 20px;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 10px;
    border: 2px solid #0080ed;
}

form [type="submit"] {
    background-color: #618685;
    color: black;
    width: 150px;
    padding-left: 0px;
    font-size:22px;
    font-weight: 700;
    cursor: pointer;
}

form [type="submit"]:hover {
    background-color: #4e8d8b;
    transform: translateY(-2px);

}

main .container-main img{
    width: 600px;
}

main img {
    padding-left: 20px;
    border-radius: 5px;
    
}

footer {
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/*cards*/

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: black;
    text-align: justify;
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.card:hover{
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 60.25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.image img {
    width: 20rem;
    position: absolute;
    border-radius: 10px;
    top: 90%;
    left: 90%;
    transform: translate(-90%, -90%);
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 0px;
}


/*desafio*/

.section-title{
    margin: 50px;
}

.container-form {
    width: 100%;
    height: 100vh;
    padding-left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img{
    width: 31rem;
    border-radius: 10px;
}

.form{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.form-title{
    display: flex;
    margin-top: 60px;
}

.trips-title{
    display: flex;
}

.form-header h4::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #0080ed;
    position: absolute;
    border-radius: 10px;
       
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

}

.input-box input {
    margin: 0.6rem ;
    padding: 0.8rem 0.8rem;
    border-radius: 10px;

}

.trips-group{
    margin-top: 0.32rem;
    padding: 0;
    align-content:flex-start;
    justify-content: first baseline;
}

div.trips-input{
    display: flex;
    width: 50%;
    text-align: top;
    align-items: flex-end;
    padding-left: 0;
}

div.trips-input label{
    font-weight: bold;
}


.continue-button button{
    width: 33%;
    margin: 0.6rem ;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    border: 2px solid #0080ed;
    background-color: #618685;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #4e8d8b;
    transform: translateY(-2px);

}

.continue-button button a{
    text-decoration:none;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-control input{
    height: 20px;
    border: 2px solid #0080ed;

}









